{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col sm 10">
    <h3 class="my-5">About us</h3>
</div>
<div class="jumbotron jumbotron-fluid text-light bg-dark">
    <div class="container">
        <h3>Post Title</h3>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis 
            ut maiores exercitationem ad vel aut molestiae assumenda id, 
            iure labore vero sint esse optio, laboriosam enim commodi rerum aliquam autem.
        </p>
    </div>

</div>
{% endblock %}